body{
	font-size:14px;
	font-weight:300;
	font-family: 'Manrope', sans-serif;	
	background-color:lightgray;
}

.logo{
	padding-top:20px;
	padding-left:20px;
}
.logo h2{
	font-size:38px;
	color:#fff;
	
}
.main-menu ul{
	padding:0;
	margin:0;
	list-style:none;
	text-align:right;
}
.main-menu ul li{
	display: inline-block;
	margin-left:20px;
	
}
.main-menu ul li a{
	display:block;
	color:#fff;
	padding:20px 10px;
}

.main-menu ul li a:hover{
	text-decoration:none;
	color:blue;
}

.header-area{
	background:bisque;	
	background-size:auto;
	border-width:thick;	
}

.header-text{
	font-size:15px;
	color:darkgrey;
}

.Section-elements{
	/*border:solid 5px bisque; */
	background:#D7DBDD; 	
	background-size:auto;
	border-width:thick;
	padding-left:30px;
	
	}

.menu-area{
	background:teal;
{

